extends layout

block content
  h1= title
  
  form(method='POST')
    div.form-group
      label(for='followed_actor') Add handle or DID of actor:
      input#followed_actor.form-control(type='text', name='followed_actor', value=followed_actor)

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg

  br 
  p The start value of the form is the DID of the standard actor. For the standard actor not only followers but also follows are stored. It is useful to update the standard actor before filterung actors by date range.